body {
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

nav {
    margin: 20px;
    border: 1px solid black;
    width: 320px;
}

h1 {
    font-size: 70px;
    text-align: center;
}

img {
    height: 300px;
    width: auto;
    border-radius: 5px;
}

.image-group {
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.row,
section {
    text-align: center;
}

ul {
    list-style-type: none;
}

.bottom {
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.decalage {
    padding-left: 30px;
}

.text-decale {
    width: 600px;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: black;
    color: lightgray;
}

#dark-mode {
    margin-left: 30px;
    margin-top: 30px;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 40px;
        text-align: center;
    }
    nav {
        margin: 0 auto;
        width: 320px;
    }
    .image-group {
        flex-direction: column;
        margin: 0 auto;
    }
    img {
        height: 250px;
        width: auto;
    }
    #img1 {
        margin: 0 auto;
    }
    .text-decale {
        width: 300px;
        margin: 0 auto;
    }
    .decalage {
        padding-left: 0px;
        margin: 0 auto;
    }
}